@model FileManagementApp.Models.PDF

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PDF</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Group)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Group.GroupName)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubGroup.SubGroupName)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item.ItemName)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PDFName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PDFName)
        </dd>
        <dt class = "col-sm-2">
            PDF File
        </dt>
        <dd class = "col-sm-10">
            <img src="@("~/pdffolder/"+Model.PDFName)" class="w-100 h-100"/>
            
        </dd>
    </dl>
    <!--<div class="form-group">
        <iframe src="@("~/pdffolder/"+Model.PDFName)" class="w-100 h-100"></iframe>-->
        @*<iframe src="@Model.PDFName" class="w-100 h-100"></iframe>*@
    <!--</div>-->
    <form asp-action="Delete">
        <input type="hidden" asp-for="PDFID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
