@model FileManagementApp.Models.ViewModels.PdfFileCreateVM

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <p class="">
                        @Model.PdfFileName
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <a class="btn btn-outline-primary" href="@Model.PdfFileUrl" data-toggle="modal" data-target="#exampleModal">
                        Read Now
                    </a>
                </div>
            </div>

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <embed src="@Model.PdfFileUrl" class="w-100 h-100" />
                            @*<iframe src="@Model.PdfFileUrl" class="w-100 h-100"></iframe>*@
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@*<div>
    <h4>PdfFile</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PdfFileName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PdfFileName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Group)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Group.GroupName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubGroup.SubGroupName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item.ItemName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PdfFileUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PdfFileUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateON)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateON)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateON)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateON)
        </dd>
    </dl>
</div>*@
<div>
    <a asp-action="Edit" asp-route-id="@Model.PdfFileID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
